body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

label {
  font-size: 1.1em;
}

input, select {
  margin: 5px 0 10px;
}

button {
  font-size: 1.2em;
  padding: 10px;
}

.player {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;  /* Allow wrapping to the next line if there is not enough space */
    justify-content: space-between; /* Distribute space evenly */
}

.player-details {
    display: flex;
    flex-wrap: wrap;  /* Allow wrapping to the next line if needed */
    justify-content: space-between;
}

.player-details div {
    margin: 5px 10px;
    flex: 1;  /* Allow the elements to stretch and take equal space */
}

.player-details div strong {
    display: block;
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

#pagination button {
    margin-right: 5px;
}

.new-line {
    margin-bottom: 20px; /* Adds space before the box */
}

.bottom-box {
    text-align: left; /* Centers the button */
}

.link {
    display: inline-block;
    padding: 15px 25px;
    background-color: #4CAF50; /* Green background */
    color: white;
    text-decoration: none;
    border-radius: 5px; /* Rounded corners */
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #45a049; /* Darker green on hover */
}
